<section class="ftco-about img ftco-section ftco-no-pt ftco-no-pb" id="about-section">
  <div class="container">
    <div class="row d-flex no-gutters">
      <div class="col-md-6 col-lg-6 pl-md-5 py-5">
        <div class="row justify-content-start pb-3">
          <div class="col-md-12 heading-section d-flex ftco-animate">
            <img class="w-100" style="border-radius:2%;" src="assets/images/me.png">
          </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-6 pl-md-5 py-5">
        <div class="row justify-content-start pb-3">
          <div class="col-md-12 heading-section ftco-animate">
            <h2 class="mb-4">About me</h2>
            <p> Hey! I'm Nico, a mix between a financial and a tech geek. I'm full of ideas and energy to challenge the status quo. </p>
            <p> I started this weeksite to show my work (I'm a freelance) and write some stuff about crypto, startups and other projects. </p>
            <p> Feel free to reach me! </p>
          </div>
        </div>
        <div class="counter-wrap ftco-animate d-flex mt-md-3">
          <div class="text">
            <p><a href="#resume-section" class="btn btn-primary py-3 px-3"> Serious nico</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
