<section class="ftco-about img ftco-section ftco-no-pt ftco-no-pb" id="about-section">
  <div class="container">
    <div class="row d-flex no-gutters">
      <div class="col-md-6 col-lg-6 pl-md-5 py-5">
        <div class="row justify-content-start pb-3">
          <div class="col-md-12 heading-section d-flex ftco-animate">
            <img class="w-100" style="border-radius:2%;" src="assets/images/me.png">
          </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-6 pl-md-5 py-5">
        <div class="row justify-content-start pb-3">
          <div class="col-md-12 heading-section ftco-animate">
            <h2 class="mb-4">Sobre mí</h2>
            <p> Hola me llamo Nicolás, soy una persona llena de ideas y energía por desafiar el status quo.
              Mezcla entre ingeniero industrial y de computación, que se puso a trabajar de freelancer
              y consultor principalmente para hacer aplicaciones web o desarrollo para algunos clientes.
              Sin embargo, no tenía página (casa de herrero, cuchillo de palo) así decidí crear esta página
              para tener un tracking de mi evolución profesional y personal. </p>
          </div>
        </div>
        <div class="counter-wrap ftco-animate d-flex mt-md-3">
          <div class="text">
            <p><a href="#resume-section" class="btn btn-primary py-3 px-3"> Mi yo serio</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
