<section id="contact-section" class="ftco-section ftco-hireme img" style="background-image: url(https://images.unsplash.com/photo-1594492345427-547beaf23d91?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80); padding-top: 3em; padding-bottom: 3em;">
  <div class="container">
    <overlay></overlay>
    <div class="row justify-content-center">
      <div class="col-md-7 ftco-animate text-center">
        <h2 style="color:white;">¿Necesitas una <span>página</span>, <span>aplicación web</span> o <span>consultoría</span>?</h2>
        <p> ¡Conversemos! </p>
        <p> <td>&#128233;: ndvega@uc.cl </p>
        <p> <td>&#128241;: +(39) 3662649400 o +(56) 937356356 </p>
      </div>
    </div>
  </div>
</section>
