<section class="ftco-section ftco-no-pb goto-here" id="resume-section">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <nav id="navi">
          <ul>
            <li><a href="#edu">Educación</a></li>
            <li><a href="#exp">Experiencia</a></li>
            <li><a href="#ach">Logros</a></li>
            <li><a href="#others">Skills & Otros</a></li>

          </ul>
        </nav>
      </div>
      <div class="col-md-9">
        <div id="edu" class= "page one">
          <h2 class="heading">Educación</h2>
          {% for item in site.data.education %}
          <div class="resume-wrap d-flex ftco-animate">
            <div class="icon d-flex align-items-center justify-content-center">
              <img class="logo" src="assets/images/{{item.img}}" alt="alternative">
            </div>
            <div class="text pl-3">
              <span class="date">{{item.date}}</span>
              <h2>{{item.title}}</h2>
              <span class="position">{{item.university}}</span>
              <p>{{item.description}}</p>
            </div>
          </div>
          {% endfor %}
        </div>

        <div id="exp" class= "page two">
          <h2 class="heading">Experiencia</h2>
          {% for item in site.data.experience %}
          <div class="resume-wrap d-flex ftco-animate">
            <div class="icon d-flex align-items-center justify-content-center">
              <img class="logo" src="assets/images/{{item.img}}" alt="alternative">
            </div>
            <div class="text pl-3">
              <span class="date">{{item.date}}</span>
              <h2>{{item.role}}</h2>
              <span class="position">{{item.company}}</span>
              <p>{{item.description}}
            </div>
          </div>
          {% endfor %}
        </div>

        <div id="ach" class= "page four">
          <h2 class="heading">Logros</h2>
          {% for item in site.data.awards %}
          <div class="resume-wrap d-flex ftco-animate">
            <div class="icon d-flex align-items-center justify-content-center">
              <img class="logo" src="assets/images/{{item.img}}" alt="alternative">
            </div>
            <div class="text pl-3">
              <span class="date">{{item.date}}</span>
              <h2>{{item.title}}</h2>
              <span class="position">{{item.entity}}</span>
              <p>{{item.description}}</p>
            </div>
          </div>
          {% endfor %}
        </div>

        <div id="others" class= "page three">
          <h2 class="heading">Skills & Otros</h2>
          <div class="row progress-circle mb-5">
            <p> Podría poner una lista de skills como normalmente se hace, pero eso es muy subjetivo. Es mejor mostrar que has hecho en los <a href="#projects-section"> proyectos</a> que te propones.</p>
            {% for item in site.data.others %}
            <div class="resume-wrap d-flex ftco-animate">
              <div class="icon d-flex align-items-center justify-content-center">
                <img class="logo" src="assets/images/{{item.img}}" alt="alternative">
              </div>
              <div class="text pl-3">
                <span class="date">{{item.date}}</span>
                <h2>{{item.role}}</h2>
                <span class="position">{{item.company}}</span>
                <p>{{item.description}}</p>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
