<section class="ftco-section ftco-no-pb goto-here" id="resume-section" style="margin-bottom:5em;">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <nav id="navi">
          <ul>
            <li><a href="#edu">Education</a></li>
            <li><a href="#exp">Experience</a></li>
            <li><a href="#ach">Achievements</a></li>
            <!-- <li><a href="#others">Skills & Others</a></li> -->

          </ul>
        </nav>
      </div>
      <div class="col-md-9">
        <div id="edu" class= "page one">
          <h2 class="heading">Education</h2>
          {% for item in site.data.education %}
          <div class="resume-wrap d-flex ftco-animate">
            <div class="icon d-flex align-items-center justify-content-center">
              <img class="logo" src="assets/images/{{item.img}}" alt="alternative">
            </div>
            <div class="text pl-3">
              <span class="date">{{item.date}}</span>
              <h2>{{item.title}}</h2>
              <span class="position">{{item.university}}</span>
              <p>{{item.description}}</p>
            </div>
          </div>
          {% endfor %}
        </div>

        <div id="exp" class= "page two">
          <h2 class="heading">Experience</h2>
          {% for item in site.data.experience %}
          <div class="resume-wrap d-flex ftco-animate">
            <div class="icon d-flex align-items-center justify-content-center">
              <img class="logo" src="assets/images/{{item.img}}" alt="alternative">
            </div>
            <div class="text pl-3">
              <span class="date">{{item.date}}</span>
              <h2>{{item.role}}</h2>
              <span class="position">{{item.company}}</span>
              <p>{{item.description}}
            </div>
          </div>
          {% endfor %}
        </div>

        <div id="ach" class= "page four">
          <h2 class="heading">Achievements</h2>
          {% for item in site.data.awards %}
          <div class="resume-wrap d-flex ftco-animate">
            <div class="icon d-flex align-items-center justify-content-center">
              <img class="logo" src="assets/images/{{item.img}}" alt="alternative">
            </div>
            <div class="text pl-3">
              <span class="date">{{item.date}}</span>
              <h2>{{item.title}}</h2>
              <span class="position">{{item.entity}}</span>
              <p>{{item.description}}</p>
            </div>
          </div>
          {% endfor %}
        </div>

        <!--
        <div id="others" class= "page three">
          <h2 class="heading">Skills & Others</h2>
            {% for item in site.data.others %}
            <div class="resume-wrap d-flex ftco-animate">
              <div class="icon d-flex align-items-center justify-content-center">
                <img class="logo" src="assets/images/{{item.img}}" alt="alternative">
              </div>
              <div class="text pl-3">
                <span class="date">{{item.date}}</span>
                <h2>{{item.role}}</h2>
                <span class="position">{{item.company}}</span>
                <p>{{item.description}}</p>
              </div>
            </div>
            {% endfor %}
        </div>
        -->
      </div>
    </div>
  </div>
</section>
