<section class="hero-wrap js-fullheight" style="background: {{include.background}};">
  <div class="container">
    <div class="row no-gutters slider-text js-fullheight justify-content-center align-items-center">

      <div class="col-lg-6 col-md-6 ftco-animate d-flex align-items-center">
        <div class="text text-center">
          <span class="subheading" style='text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px ;' ></span>
          <h1 style="color:oldlace;">LookOut</h1>
          <p>Emprendimiento social, el cual entrega un servicio a los colegios para ayuda a los profesores, mediante inteligencia artificial, a detectar a tiempo las distintas situaciones que puedan estar afectando a un escolar durante su desarrollo. Ya sea por bullying, aislamiento, depresión, ansiedad u otros.</p>
          </div>
      </div>
      <div class="col-lg-6 col-md-6 ftco-animate d-flex align-items-center">
        <div class="text text-center">
          <div class="container">
          <img class="w-75" src=https://nicolasvegam.github.io/assets/images/oie-transparent-1-1014x998.png>
          </div>
        </div>
      </div>

    </div>
    </div>
</section>
