<section class="hero-wrap js-fullheight" style="background: {{include.background}};">
  <overlay></overlay>
  <video playsinline autoplay muted loop style="position:absolute;">
    <div class="video-overlay"></div>
    <source src="/assets/images/video 2.mp4" type="video/mp4">
  </video>
  <div class="container h-100">
    <div class="d-flex h-100 text-center align-items-center">
      <div class="col-12 slider-text" style="padding-bottom:50px">
        <div class="col-lg-12 col-md-6 ftco-animate d-flex align-items-center">
          <div class="text text-center">
            <span class="subheading" style='text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;' ></span>
            <div class="w-100 text-white" style="z-index:1;">
              <h1><span style='text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;'>Nico Vega</span></h1>

                <h2 style="color:white;" >I'm
                  <span
                     class="txt-rotate"
                     data-period="2000"
                     style="color:white;"
                     data-rotate='[ "a Data Guy.", "a Developer.", "an Entrepreneur.", "a Product Guy." ]'></span>
                </h2>
            </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</section>
