<section class="hero-wrap js-fullheight" style="background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.5)), url(https://images.unsplash.com/photo-1579298245158-33e8f568f7d3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1534&q=80);">
  <!-- <video loop muted autoplay playsinline id="video"></video> -->
  <div class="container h-100">
    <div class="row no-gutters slider-text js-fullheight justify-content-center align-items-center">

      <div class="col-lg-6 col-md-6 ftco-animate d-flex align-items-left">
        <div class="text text-left">
          <span class="subheading" style='text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px ;' ></span>
          <h1 style="color:oldlace;">V & V Store</h1>
          <p>My first Startup. V&V Store was created by my friend Agustín Vera and I when we find the right suppliers from China.</p>
          </div>
      </div>
      <div class="col-lg-6 col-md-6 ftco-animate d-flex align-items-center">
      </div>
    </div>
    </div>
</section>
