<section class="hero-wrap js-fullheight" style="background:url(https://images.unsplash.com/photo-1510074377623-8cf13fb86c08?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1504&q=80);">
  <!-- <video loop muted autoplay playsinline id="video"></video> -->
  <div class="container h-100">
    <div class="row no-gutters slider-text js-fullheight justify-content-center align-items-center">

      <div class="col-lg-6 col-md-6 ftco-animate d-flex align-items-center">
        <div class="text text-center">
          <span class="subheading" style='text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px ;' ></span>
          <h1 style="color:oldlace;">Mercado Libre</h1>
          <p>Llegué a Mercado Libre como prácticante en Junio del 2019, y durante ese tiempo logramos hacer tres proyectos interesantes, entre ellos, la automatización de reportes del área de Publicidad. Dando solución a un problema global de la empresa.</p>
          </div>
      </div>
    </div>
    </div>
</section>
